@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/*font-family: "Azeret Mono", monospace;  */
*{
    margin: 0px;
}
.header{
    display: flex;
    padding:10px;
    justify-content:space-around ;
}
#hero{
    max-width: 1440px;
    height: 652px;
    background-image: url('../assets/Hero-bg.png');
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#hero .hero-content{
    width: 998;
    height: 582px;
    
}
#hero .hero-content .image{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 43px;
}
#hero .hero-content .title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
    text-align: center;
    margin-bottom: 24px;
}
#hero .hero-content .info{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 32px;
}
.btn{
    padding: 21px 24px 21px 24px;
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;
background: rgb(13, 19, 33);
}
#hero .hero-content .btn-container{
    text-align: center;

}
/* section-2 */

 .division2{
    display: flex;
    flex-direction: column;
    margin-top: 74px;
    padding: 80px 97px 80px 97px ;
    
}
 #div2{
    display: flex;
    width: 946px;
    height: auto;
    justify-content: center;
    margin: auto;
} 
#div2head{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;

}
#div2para{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 48px;
}


.div2-detail1 {
    display: flex;
    justify-content: space-between;
     width: 100%;
    padding: 48px; 
    
}
#div2-det1-h3{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 16px;
width: 390px ;
height: 72px;
}
#div2-det1-p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
width: 470px;
height: 52px;
margin-bottom: 32px;
}
#image{
    width:275px;
    height: 240px;
}

.div2-btn{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
padding: 12px 20px 12px 20px
}

#div2-det2-h3{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 16px;
width: 450px ;
height: 72px;
}
.div2-detail1{
    margin-bottom: 88px;
}

/* part-3 */
.divition3{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 1140px;
    height: 777px;
    /* background-color: blue; */
    margin: auto;
    margin-bottom: 181px;
}
.div3-h3{
    text-align: center;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
}
.div3-p{
    text-align: center;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 48px;

}


#div3-iframe>p{
    width: 1140px;
    height: 614px;
}
 #div3-iframe>p>iframe{
    padding: 32px;
    border-radius: 50px;
    width: 1076px;
    height: 550px;
 }